*
{
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family:  'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 70px 0 0;
    background-color: #f6f5f6;
}
:root{
    --para:#a29c9c;
    --back:#E6E6E6;
    --cyan: #17a2b8;
    --gray-dark: #343a40;
}
/* =========start-groping=========== */
h1 {
    margin-bottom: 1.5em;
}
h1, .navbar-brand {font-family:'Luckiest Guy',cursive; letter-spacing: 1px; text-transform: uppercase;}
.about h1, .features  h1, .testimonial h1, .Price-table h1, .subscribe h1, .skils h1{
    color:var(--gray-dark);
}
.our-team h1, .statistics h1, .contact-us h1{
    color: var(--cyan);
}
.features, .Price-table, .subscribe, .skils{
    background-color: var(--back);
}
.about, .features, .testimonial, .Price-table, .our-team .overlay, .subscribe, .skils{
   padding:50px 0;
}
p {color: var(--para);}
span {color: var(--cyan);}
/* =========end-groping=========== */

/* ===============start nav bar=========== */
.navbar { background: none;}
.nav-item { padding: 10px 10px;}
.navbar-toggler{
    outline: none;
    border: none;
    font-size: 1.50rem;
    transition: 0.4s;
}
.navbar-toggler:hover, .navbar-toggler:focus {text-decoration: none;  outline: none;}
.navbar-brand {font-size: 30px;}
.dropdown-menu{
    top: 109%;
    left: -40px;
    min-width: 200px;
}
.dropdown-menu::before{
    content: "";
    position: absolute;
    left: 115px;
    top: -6px;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    width: 0;
}
.dropdown-item {padding: 10px 8px;}
.dropdown-item:hover { color: var(--cyan); transition:0.4s;} 
/* ===============end nav bar=========== */

/* ===============start slider=========== */
.carousel{ position: relative;  top: 6px;} 
.carousel-inner .carousel-item { max-height: 500px;}
/* ===============end slider=========== */

/* ==========start Section features==========*/
.features .feat i{color: var(--cyan);}
.features .feat h3 { margin: 15px 0; color:var(--cyan);}
.features .feat p{
    line-height: 2em;
    font-size: 15px;
    color: #827b7b;
} 
/* ==========end Section features==========*/

/* ========start testimonial========== */
.testimonial .carousel { height:  220px;}
.testimonial .carousel-indicators li{
    padding: 2px;
    height: 50px;
    width: 50px;
    border: 2px solid var(--cyan);;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.19),
                  0 6px 6px rgba(0,0,0, 0.23);
    transition: 0.4s;
}
.testimonial .carousel-indicators li img {transform: translate(498px,-2px); max-width: 115%;}
.testimonial .lead {  font-size: 25px;}
.testimonial span{
    font-size: 18px;
    font-weight: bold;
    color:var(--cyan);
}
/* ========end testimonial========== */

/* =============start Price table========= */
.Price-table .price-box{
    background-color: white;
    padding: 15px 20px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    transition: 0.5s;
}
.Price-table h2 { color: var(--cyan);}
.Price-table .price-box p{
    font-weight: bold;
    font-size: 30px;
    margin-top: 25px;
    height: 100px;
    width: 100px;
    background-color: #f3f3f3;
    border-radius: 50%;
    line-height: 100px;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.19),
                0 6px 6px rgba(0,0,0, 0.23);
}
.Price-table .price-box ul { line-height: 250%;  font-size: 17px;}
.Price-table .price-box:hover{
    box-shadow: 0 10px 10px rgba(0,0,0, 0.19),
                0 6px 6px rgba(0,0,0, 0.23);
}
/* =============end Price table========= */

/* ========start Our Team============== */
.our-team{
    background: url('../team/unnamed.jpg') no-repeat center center fixed ;
    background-size: cover;
    min-height: 500px;
    position: relative;
    color: white;
}
.our-team .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
}
.our-team .person { margin-bottom: 40px;}
.person img{
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
}
.person  i{
    cursor: pointer;
    transition: 0.5s;
    color: silver;
    margin-left: 5px;
}
.person  i:hover {color: var(--cyan);}
/* ========end Our Team============== */

/* ==========start subscribe============== */
.subscribe .lead {margin-bottom: 2em;}
.subscribe .form-inline .form-control, .subscribe .form-inline .btn {border-radius: 0;}
.subscribe .form-inline .form-control{ margin-right: -5px;  width: 300px;}
.subscribe .form-inline .form-control::placeholder {opacity: 0.5;}
.fa-edit {font-size: 20px;}
/* ==========end subscribe============== */

/* ========start statistics============= */
.statistics{
    background: url("../team/MacBook_Keyboard_shallow_focus.JPG") no-repeat center center fixed;
    min-height: 320px;
    background-size: cover;
    position: relative;
}
.statistics .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    color: white;
    padding: 10px;
}
.statistics .stats { color: var(--para); transition: all 0.5s ease-in-out;}
.statistics .stats:hover { color: var(--cyan);}
.statistics .number{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 35px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}
.statistics .stats:hover .number{color: var(--cyan);}
/* ========end statistics============= */

/* =============start skils============ */
.skils-progres { padding: 15px 0;}
.skils-progres .progress { margin-bottom: 20px;   height: 36px;}
.skils-progres .progress .progress-bar{
    text-align: justify;
    text-indent: 10px;
    font-size: 14px;
}
/* =============end skils============ */

/* ==============start contact us ==========*/
.contact-us{
    background: url('../team/1280px-MacBook_Pro_15_inch_\(2017\)_Touch_Bar.jpg') no-repeat center center fixed;
    min-height: 480px;
    position: relative;
    background-size: cover;
}
.contact-us .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
    color: white;
    padding: 20px 0;
    color: white;
}
.contact-us .logo{color: var(--cyan);}
.contact-us .lead {margin: -2em 0 3em;}
.contact-us input[type="text"],
.contact-us textarea{
    background-color: rgba(82, 87, 87, 0.8);
    color: white;
    border: none;
}
/* ==============end contact us ==========*/

/* =========start our clients========== */
.clients {padding: 60px 0;  box-shadow: 0 10px 20px rgba(0,0,0,0.19);}
.clients .img-fluid{
    height: 100px ;
    width: 100px;
    opacity: 0.4;
    transition: 0.4s;
}
.clients .img-fluid:hover {opacity: 1;}
/* =========end our clients========== */

/* =========start footer=========== */
.footer{
    background-color:var(--gray-dark);
    padding: 40px 0 25px;
    color: white;
}
.footer h3{
    color: var(--cyan);
    letter-spacing: 1px;
    margin: 30px 0 20px;
}
.footer .column {overflow: hidden;}
.footer .column li{
    float: left;
    width: 33.33333%;
    margin: 10px 0;
    color:#cbcdd8;
    transition: 0.4s;
    cursor: pointer;
}
.footer .column li:hover { color: white; text-decoration: underline;}
.footer .social-list {overflow: hidden; margin: 10px 0;}
.footer .social-list li{
    float: left;
    margin-right: 10px;
    opacity: 0.4;
    transition: 0.4s;
}
.footer .social-list li:hover {opacity:1;}
.footer .social-list li img{
    height: 44px;
    width: 44px;
    margin: 10px 0;
}
 /* =======start Lates Article========  */
.footer .media{
    margin: 15px 0;
    color:#cbcdd8 ;
    letter-spacing: 1px;
}
.footer .media img {width: 60px; height:60px;}
.footer .media h5 {color: white;  margin-bottom: 10px;}
.footer .media {font-size: 14px;}
/* =======end Lates Article========  */

/* =========end footer=========== */

/* ============ start copyright================= */
.copyright{
    padding: 20px 0;
    background-color: #28292b;
    text-align: center;
    color: white;
}
/* ============ end copyright================= */


